.shortnamereview{
    height: 27px;
    width: 27px;
    font-size: 11px;
    background-color: #F5F5F5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #E4E4E4;
}
.shortnamereviews{
    display: flex;
    flex-direction: row;
}