body{
    background-color: #fff !important;
}
.forgotpassheader{
    /* width: 100%; */
    height: 60px;
    background-color: #A03037;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 163px;
}
.mainforgotpass{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fpass{
    font-size: 33px;
}
.forgotdetails{
    padding: 36px 67px;
    width: 423px;
    border: 1px solid #E4E4E4;
}
.forgotdetails input{
    height: 30px;
    width: 303px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    outline-color: #A03037;
}
.forgotemaillabel{
    font-size: 13px;
    font-weight: 500;
    font-size: 12px;
}
.mainforgotpass .btn{
    margin-top: 20px;
    background-color:#A03037 ;
    border: 1px solid #E4E4E4;
    height: 35px;
    width: 308px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
}
.forgotfooter{
    width: 423px;
    padding: 20px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F9F8 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    opacity: 1;
}
.forgotfooter p{
    cursor: pointer;
    font-weight: 500;
    
}