.mainhome{
    padding: 20px 163px;
}
.homeheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sortbooks select option{
    font-size: 12px;
}
.bookcomponent{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
